<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unpkg.com/missing.css@1.1.1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Movie Recommender</title>
</head>
<body>
    <header style="display: flex; justify-content: space-between">
        <a href="{{ url_for('home') }}" style="text-decoration: none; color: inherit">
            <h1>Movie Recommender</h1>
        </a>
        <a href="{{ url_for('profile') }}" style="text-decoration: none; color: inherit">
            <img src="../static/images/guy-eating-popcorn.png" alt="guy eating popcorn" style="width: 10rem; height: 2.5rem;">
        </a>
    </header>
    <main>
        <div class="wrapper">
            <form action="/search" method="GET" style="display: flex;">
                <input type="search" name="q">
                <button type="submit" style="margin-left: .5rem">Search</button>
            </form>
    
            {% block main_content %}{% endblock %}
        </div>
    </main>
</body>
</html>
